/wp-admin/
/wp-content/
/wp-content/index.php
/wp-content/languages/
/wp-content/plugins/index.php
/wp-content/themes/
!/wp-content/themes/brunet/
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

wp-config.php

*.log

/.htaccess
ehthumbs.db
Thumbs.db